<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Share Gruen Editor</title>

  <script src="https://cdn.jsdelivr.net/npm/fabric@5.3.0/dist/fabric.min.js"></script>
</head>
<body onload="showModal()">
    <div class="toolbar">
        <label for="bgSelect">Hitergrund:</label>
        <div class="bg-options">
            <img src="/static/backgrounds/GJ_dunkelGruen.png" data-src="GJ_dunkelGruen.png" class="bg-thumb">
            <img src="/static/backgrounds/GJ_Gruen.png" data-src="GJ_Gruen.png" class="bg-thumb">
            <img src="/static/backgrounds/GJ_Lila.png" data-src="GJ_Lila.png" class="bg-thumb">
            <img src="/static/backgrounds/GJ_Orange.png" data-src="GJ_Orange.png" class="bg-thumb">
            <img src="/static/backgrounds/GJ_Pink.png" data-src="GJ_Pink.png" class="bg-thumb">

            <img src="/static/backgrounds/GJ_Verlaufe_IG.png" data-src="GJ_Verlaufe_IG.png" class="bg-thumb">
            <img src="/static/backgrounds/GJ_Verlaufe_IG2.png" data-src="GJ_Verlaufe_IG2.png" class="bg-thumb">
            <img src="/static/backgrounds/GJ_Verlaufe_IG3.png" data-src="GJ_Verlaufe_IG3.png" class="bg-thumb">
            <img src="/static/backgrounds/GJ_Verlaufe_IG4.png" data-src="GJ_Verlaufe_IG4.png" class="bg-thumb">
            <img src="/static/backgrounds/GJ_Verlaufe_IG5.png" data-src="GJ_Verlaufe_IG5.png" class="bg-thumb">
            <img src="/static/backgrounds/GJ_Verlaufe_IG6.png" data-src="GJ_Verlaufe_IG6.png" class="bg-thumb">
            <img src="/static/backgrounds/GJ_Verlaufe_IG7.png" data-src="GJ_Verlaufe_IG7.png" class="bg-thumb">
            <img src="/static/backgrounds/GJ_Verlaufe_IG8.png" data-src="GJ_Verlaufe_IG8.png" class="bg-thumb">
            <img src="/static/backgrounds/GJ_Verlaufe_IG9.png" data-src="GJ_Verlaufe_IG9.png" class="bg-thumb">
            <img src="/static/backgrounds/GJ_Verlaufe_IG10.png" data-src="GJ_Verlaufe_IG10.png" class="bg-thumb">
            <img src="/static/backgrounds/GJ_Verlaufe_IG11.png" data-src="GJ_Verlaufe_IG11.png" class="bg-thumb">
            <img src="/static/backgrounds/GJ_Verlaufe_IG12.png" data-src="GJ_Verlaufe_IG12.png" class="bg-thumb">

        </div>

        <label for="kvInput">Kreisverband:</label>
        <input type="text" id="kvInput" placeholder="Duisburg">
        <button id="setKV">Logo einfügen</button>

        <button id="addText">Text hinzufuegen</button>
        <button id="addHeadline">Headline mit CD-Hinterlegung</button>
        <button id="export">Exportieren (PNG)</button>
    </div>

    <div id="canvas-container">
        <div id="stage-container">
            <canvas id="editorCanvas" width="{{width}}" height="{{height}}"></canvas>
        </div>
        <div id="sidebar">
            <h3>Eigenschaften</h3>
            <div id="properties">
                <p>Wähle ein Element aus, um es zu bearbeiten.</p>
            </div>
        </div>
    </div>



    <div id="overlay">
    <div id="modalbox">
        <p>Herzlich willkommen zum Sharepic generator der GRÜNEN JUGEND. <br> Ein Projekt mit <img src="/static/img/heart-icon.svg" width="24px" height="24px" style="margin-top: 50px; vertical-align: -6px;"> von Mel :) </p>
        <button type="button" onclick="closeModal()">Okayy.</button>
    </div>
    </div>

    <script>
        const W = {{width}};
        const H = {{height}};
    </script>
    <script>
        function showModal() {
        setTimeout(() => {
            document.getElementById('overlay').style.display = 'flex';
        }, 700);
        }

        function closeModal() {
        document.getElementById('overlay').style.display = 'none';
        }

        document.getElementById("setKV").addEventListener('click', () => {
            const kv = document.getElementById('kvInput').value.trim();
            if (kv) addKVLogo(kv);
        });
    </script>
    <script src="/static/js/editor.fabric.js"></script>
</body>
</html>