<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
    <title>Share Gruen Editor</title>

  <script src="https://cdn.jsdelivr.net/npm/fabric@5.3.0/dist/fabric.min.js"></script>
</head>

<body onload="showModal()">
    <header>
        <!-- Mobile Drawer -->
        <nav id="mobileSidebar" class="mobile-sidebar" aria-hidden="true">
            <div class="drawer-header">
                <div class="title" id="drawerTitle">Kategorien</div>
                <div>
                <button class="close-btn" onclick="closeDrawer()" aria-label="Schließen">✕</button>
                </div>
            </div>

            <!-- MAIN: Kategorien -->
            <div class="drawer-main" id="drawerMain" role="menu" aria-label="Kategorien Menu">
                <a class="category-link" href="#" onclick="openDrawerSub('backgrounds', event)">Hintergründe</a>
                <a class="category-link" href="#" onclick="openDrawerSub('texts', event)">Textelemente</a>
                <a class="category-link" href="#" onclick="openDrawerSub('images', event)">Bildelemente</a>
                <a class="category-link" href="#" onclick="openDrawerSub('kv', event)">Kreisverband</a>
                
                <button id="export-json-mob">Speichern (JSON)</button>
                <button id="import-json-mob">Laden (JSON)</button> <input type="file" id="jsonFileInput" accept="application/json" style="display:none">
                
                <button id="settings-btn" onclick="openSettings()" style="background-color: #fff; transform: scale(1.5); position: relative; margin-top: 100%;"></button>
                <button id="mobExportBtn" style="float: right; position: relative; margin-top: 100%;">Exportieren (JPG)</button>
            </div>

            <div class="drawer-sub" id="drawerSub" role="menu" aria-label="Untermenü" style="display:none;">
                <!-- JS fills Items -->
            </div>
        </nav>

        <div class="toolbar">
            <div class="tool-group">
                <label for="bgSelect">Hitergrund: <button id="settings-btn" onclick="openSettings()"></button></label>
                <div class="bg-options">
                    <img src="/static/backgrounds/GJ_dunkelGruen.png" data-src="GJ_dunkelGruen.png" class="bg-thumb">
                    <img src="/static/backgrounds/GJ_Gruen.png" data-src="GJ_Gruen.png" class="bg-thumb">
                    <img src="/static/backgrounds/GJ_Lila.png" data-src="GJ_Lila.png" class="bg-thumb">
                    <img src="/static/backgrounds/GJ_Orange.png" data-src="GJ_Orange.png" class="bg-thumb">
                    <img src="/static/backgrounds/GJ_Pink.png" data-src="GJ_Pink.png" class="bg-thumb">

                    <img src="/static/backgrounds/GJ_Verlaufe_IG1.png" data-src="GJ_Verlaufe_IG1.png" class="bg-thumb">
                    <img src="/static/backgrounds/GJ_Verlaufe_IG2.png" data-src="GJ_Verlaufe_IG2.png" class="bg-thumb">
                    <img src="/static/backgrounds/GJ_Verlaufe_IG3.png" data-src="GJ_Verlaufe_IG3.png" class="bg-thumb">
                    <img src="/static/backgrounds/GJ_Verlaufe_IG4.png" data-src="GJ_Verlaufe_IG4.png" class="bg-thumb">
                    <img src="/static/backgrounds/GJ_Verlaufe_IG5.png" data-src="GJ_Verlaufe_IG5.png" class="bg-thumb">
                    <img src="/static/backgrounds/GJ_Verlaufe_IG6.png" data-src="GJ_Verlaufe_IG6.png" class="bg-thumb">
                    <img src="/static/backgrounds/GJ_Verlaufe_IG7.png" data-src="GJ_Verlaufe_IG7.png" class="bg-thumb">
                    <img src="/static/backgrounds/GJ_Verlaufe_IG8.png" data-src="GJ_Verlaufe_IG8.png" class="bg-thumb">
                    <img src="/static/backgrounds/GJ_Verlaufe_IG9.png" data-src="GJ_Verlaufe_IG9.png" class="bg-thumb">
                    <img src="/static/backgrounds/GJ_Verlaufe_IG10.png" data-src="GJ_Verlaufe_IG10.png" class="bg-thumb">
                    <img src="/static/backgrounds/GJ_Verlaufe_IG11.png" data-src="GJ_Verlaufe_IG11.png" class="bg-thumb">
                    <img src="/static/backgrounds/GJ_Verlaufe_IG12.png" data-src="GJ_Verlaufe_IG12.png" class="bg-thumb">

                </div>
            </div>

            <div class="tool-group">
                <label for="kvInput">Kreisverband:</label>
                <input type="text" id="kvInput" placeholder="Duisburg">
                <button id="setKV">Logo einfügen</button>
            </div>

            <div class="tool-group">
                <button id="addText">Text hinzufuegen</button>
                <button id="addHeadline">Headline mit CD-Hinterlegung</button>
                <button id="addPicto" onclick="piktogramme()">Pictogram Hinzuügen</button>
                <button id="addImg">Bild Hinzuügen</button>
                <input type="file" id="imgUploadInput" accept="image/*" style="display: none;"> <!-- Hide -> Button trigger -->
            </div>

            <div class="tool-group">
                <button id="export">Exportieren (JPG)</button>
                <button id="export-json">Speichern (JSON)</button>
                <button id="import-json">Laden (JSON)</button> <input type="file" id="jsonFileInput" accept="application/json" style="display:none"> <br>
                <button id="autopilotStart" onclick="startAutopilotDialouge()"><span>Autopilot</span></button>
            </div>
        </div>
    </header>

    <div class="mobile-top-bar" id="mobileTopBar">
        <div class="mobile-menu-icon" id="mobileMenuBtn" onclick="openDrawerMain()" aria-label="Menü öffnen">☰</div>
        <button id="mobileAutopilotBtn" onclick="startAutopilotDialouge()">
            <span>Autopilot</span>
        </button>
    </div>

    <div id="canvas-container">
        <div id="stage-container">
            <canvas id="editorCanvas" width="{{width}}" height="{{height}}"></canvas>
        </div>

        <div id="sidebar">
            <h3>Eigenschaften</h3>
            <div id="properties">
                <p>Wähle ein Element aus, um es zu bearbeiten oder erstelle eine <u>Monatsübersicht</u>.</p>
                <div class="overview-toggle" onclick="toggleOverviewForm(event)">
                    <span class="toggle-label">Monatsübersicht</span>
                    <span class="toggle-arrow">▶</span>
                </div>
                <div id="overviewFormContainer" class="overview-form-container" style="display: none;"></div>
            </div>
        </div>
        <div id="mobilePropertiesDrawer" aria-hidden="true">
            <div class="drawer-handle" id="drawerHandle"></div>
            <div class="drawer-content">
                <h3>Eigenschaften</h3>
                <div id="mobProperties">
                    <p>Wähle ein Element aus, um es zu bearbeiten oder erstelle eine <u>Monatsübersicht</u>.</p>
                    <div class="overview-mobile-toggle" onclick="toggleOverviewForm(event)">
                        <span class="toggle-label">Monatsübersicht</span>
                        <span class="toggle-arrow">▶</span>
                    </div>
                    <div id="mobileOverviewFormContainer" class="overview-form-container" style="display: none;"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="picto-overlay">
        <div id="picto-select-screen">
            <h2>Piktogramme auswählen</h2>
            <input type="text" id="pictoSearch" placeholder="Suche...">
            <div id="pictoGrid"></div>
            <button class="closeBtn" onclick="closePicto()">Schließen</button>
        </div>
    </div>

    <!-- Autopilot canvas -->
    <div id="autopilot-overlay">
        <div id="autopilot-screen">
            <div id="autopilot-content"></div>
            <div class="autopilot-buttons">
                <button id="autopilot-next">Weiter</button>
                <button id="autopilot-prev" style="display: none;">Zurück</button>
            </div>
        </div>
    </div>

    <!-- Settings canvas -->
    <div id="settings-overlay">
        <div id="settings-screen" class="dialog">
            <h2>Canvas Größe anpassen</h2> <br>

            <h3 id="canvas-scale-text" class="canvas-scale-text">10%</h3>

            <input type="range" id="canvas-size-input" value="0.77" min="0.1" max="1" step="0.1">

            <button id="settings-close-btn" class="closeBtn" onclick="closeSettings()">
                Schließen
            </button>
        </div>
    </div>

    <div id="overlay">
        <div id="modalbox">
            <h3 style="margin-top: 0;">Herzlich willkommen zum Sharepic generator der GRÜNEN JUGEND. </h3>
            <p>
                ACHTUNG: Dieses Projekt ist keineswegs fertig. Es befindet sich noch mitten in der Entwicklung. Seid also bitte etwas nachsichtig (: <br>
                Den Source code, sowie die Projektdateien und die ToDo liste findet ihr (bald) unter diesem link:
                <a href="https://github.com/JesusOfCarrots/sharegruen">https://github.com/JesusOfCarrots/sharegruen</a>
            </p>
            <p>Ein Projekt mit <img src="/static/img/heart-icon.svg" width="24px" height="24px" style="margin-top: 50px; vertical-align: -6px;"> von Mel :) </p>
            <button class="btn" type="button" onclick="closeModal()">Okayy.</button>
        </div>
    </div>

    <script>
        const W = {{width}};
        const H = {{height}};
    </script>
    <script>
        let showBox = true;
        if(showBox){
            function showModal() {
                setTimeout(() => {
                document.getElementById('overlay').style.display = 'flex';
            }, 700);
            }
        }

        function closeModal() {
            document.getElementById('overlay').style.display = 'none';
        }
        function closePicto() {
            document.getElementById("picto-overlay").style.display = 'none';
        }
        function openSettings() {
            document.getElementById("settings-overlay").style.display = "flex";
        }

        function closeSettings() {
            document.getElementById("settings-overlay").style.display = "none";
        }

        document.getElementById("setKV").addEventListener('click', () => {
            const kv = document.getElementById('kvInput').value.trim();
            if (kv) addKVLogo(kv);
        });
        
        // random bg for buttons
        const r = Math.ceil(Math.random() * 12)
        document.querySelectorAll("header button:not(#settings-btn)").forEach(btn => {
            btn.style.background = `url('/static/backgrounds/GJ_Verlaufe_IG${r}.png') fixed`;
            btn.style.backgroundSize = "cover";
        });
        document.querySelector('#settings-screen input[type=range]').style.setProperty('--thumb-bg', `url('/static/backgrounds/GJ_Verlaufe_IG${r}.png') center/cover no-repeat`);
    </script>
    <script src="/static/js/editor.fabric.js"></script>
</body>
</html>